<div class="d-flex flex-column align-items-center mb-4" style="margin-top: 60px">
  <h3 class="mb-4" style="">Enrolling new student</h3>

  <div class="w-100 d-flex flex-column align-items-center">
    <div class="w-100" style="max-width: 700px;">

      <%= render "form", student: @student %>

      <br>
    </div>
  </div>
</div>
