<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
  <%= link_to "Edit this student", edit_department_student_path(@department, @student) %> |
  <%= link_to "Back to students", department_students_path(@department) %>
</div>
