<div class="d-flex flex-column align-items-center" style="margin-top: 50px">
  <h6><%= @department.dept_name %> department</h6>
  <div class="w-100 d-flex flex-column align-items-center">
    <div class="w-100" style="max-width: 912px;">
    
      <div class="" >
        <%= link_to department_registrations_path(@department), class: "link-underline link-underline-opacity-0" do %>
          <i class="bi bi-arrow-left"></i>
          <span class="fs-5">Back to <%= @department.dept_name %></span>
        <% end %>
      </div>

      <%= render "form", registration: @registration %>

      <br>
    </div>
  </div>
</div>