<div class="d-flex flex-column align-items-center" style="margin-top: 80px">
  <h3 class="mb-5" style="">Advanced Search</h3>

  <div class="w-100 d-flex flex-column align-items-center">
    <div class="w-100" style="max-width: 720px;">
      <div class="">
        <%= link_to root_path, class: "link-underline link-underline-opacity-0" do %>
          <i class="bi bi-arrow-left"></i>
          <span class="fs-5">Back</span>
        <% end %>
      </div>

      <div class="bg-white p-4 my-4">
          <h6 class="mb-3">Choose Department</h6>
            <div class="row">
              <% Department.all.each do |department| %>
                  <%= link_to new_department_search_path(department), class: "link-underline link-underline-opacity-0 mb-4 col-lg-3 col-sm-6 w-40" do %>
                    <div class="h-100 card card-hover border-0">
                        <div class="d-flex align-items-center justify-content-between card-body">
                            <div>
                                <h5 class="fw-normal text-red"><%= department.dept_name %></h5>
                                <p class="subtitle text-sm text-muted mb-0">Department</p>
                            </div>
                            <div class="flex-shrink-0 ms-4">
                                <%# <i class="bi bi-capsule"></i> %>
                            </div>
                        </div>
                        <div class="py-3 card-footer border-0" style="background-color: #f8d7da">
                            <div class="align-items-center text-danger row">
                                <div class="col-10 d-flex">
                                    <p class="mb-0 ">Search</p>
                                    <div class="flex-shrink-0 ms-4">
                                      <i class="bi bi-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <% end %>
              <% end %>
            </div>
      </div>
      <br>
    </div>
  </div>
</div>