<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Show this course", department_course_path(@department, @course) %> |
  <%= link_to "Back to courses", department_courses_path(@department) %>
</div>